.wrapper {
  width: 100% !important;
}


.left {
  background: rgba(255, 246, 211, 0.5);
  /* width: 100%; */
  min-height: 100vh;
  position: relative;

}

.left_intro {
  color: #001A03;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.black_box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 18px;
  background: rgba(0, 0, 0, 1);
}


.mid, .right {
  /* width: 100%; */
  height: 100vh;
  background: rgba(255, 255, 255, 1);
}
 
.mid_intro {
<<<<<<< HEAD
  color: #2B2D42 !important;
  font-size: 24px;
=======
  color: #2B2D42;
  font-size: 1.5rem;
>>>>>>> 027872b381953e42a4fd63b378f960f481600c64
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.mid_banner {
  height: 100%;
}

<<<<<<< HEAD
.form {
  font-family: 'Source Sans Pro', sans-serif;
}

.email, .password, .button {
  font-weight: 600;
=======
.right {

>>>>>>> 027872b381953e42a4fd63b378f960f481600c64
}